<?xml version="1.0"?>
<model>
  <name>intelligence_cache</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Team NIDAR</name>
    <email>team@nidar.aero</email>
  </author>
  <description>SAEISS ADDC Intelligence Cache Box with QR Target</description>
</model>
