# ROS 2 build artifacts
build/
install/
log/

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# OS artifacts
.DS_Store
Thumbs.db

# Virtual environments
venv/
.venv/
env/


# Ardupilot Simulation Repos
src/ardupilot/
src/ardupilot_gazebo/
src/ardupilot_gz
src/ardupilot_sitl_models
src/micro_ros_agent
src/ros_gz
src/sdformat_urdf